img {
    width: 30%;
    /* margin: 1.6666%; */
    margin: calc(10%/6);
}

nav {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px solid #e9edc9;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.25em, 0;
}
    





/* 30+30+30

10% */